.ShopArticle {

    width:35vh;
    margin:25px;
    overflow: hidden;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.144);

    &__image {
        width:100%;
    }
    &__footer {
        display:flex;
        justify-content: space-between;
        
        align-items: flex-end;
        padding:8px 12px;

    }
    h2 {
        margin:0;
    }
    h3 {
        margin:0;
    }
}